<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<context:component-scan base-package="com.ksign.prod"/>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:/mybatis/application-properties.xml</value>
		</property>
	</bean>
	
    <!-- DB연결정보 -->
 <!-- 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
   		<property name="driverClassName" value="${database.driverClassName}"/>
   		<property name="url" value="${database.url}"/>
   		<property name="username" value="${database.username}"/>
   		<property name="password" value="${database.password}"/>
   		<property name="validationQuery" value="${validation.query}"/>
   		<property name="maxActive" value="${max.active}"/>
   		<property name="maxIdle" value="${max.idle}"/>
   		<property name="maxWait" value="${max.wait}"/>
   		<property name="removeAbandoned" value="${remove.abandoned}"/>
   		<property name="removeAbandonedTimeout" value="${remove.abandoned.timeout}"/>
   		<property name="initialSize" value="${initial.size}"/>
    </bean> -->
    
    <bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource">
		<property name="driver" value="${database.driverClassName}"/>
		<property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
        <property name="poolPingEnabled" value="true"/>	<!-- 커넥션 ping 테스트 -->
        <property name="poolPingQuery" value="${validation.query}"/>	<!-- 커넥션이 살아 있는지 확인할 쿼리 -->
        <property name="poolMaximumActiveConnections" value="${max.active}"/>
        <property name="poolMaximumIdleConnections" value="${max.idle}"/>
        
        <property name="poolPingConnectionsNotUsedFor" value="43200"/> <!-- 어떤 커넥션이 닫힐 상태인지 판단하는 기준시간 -->
        <property name="poolTimeToWait" value="${max.wait}"/><!-- 사용 불가능한 커넥션 기다리는 시간 -->
	</bean>
	
	  <!-- Root Context: defines shared resources visible to all other web components -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <property name="dataSource" ref="dataSource"></property>
	</bean>
	
 	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis/mybatis-configure.xml" />
		<property name="mapperLocations" value="classpath:mybatis/mappers/**/*-Mapper.xml" />
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	   
    <bean id="mapperScannerConfigure" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	<property name="basePackage" value="com.ksign.prod.mapper"></property>
    	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>
</beans>